.main-forms {
  height: 100%;
  min-height: 600px;
  padding: 80px 0;
}
.login-inner {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px 0;
}

.login-inner input {
  padding: 15px 20px;
  margin-bottom: 8px;
}
.login-input {
  width: 80%;
  margin: auto;
}
.login-input-btn {
  width: 80%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login-btn {
  display: flex;
  width: 82%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border: 1px solid #dddd;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
  margin: 30px auto;
}
.google-icon {
  font-size: 25px;
  flex-grow: 1;
}
.google-title {
  flex-grow: 1;
}
.google-title p {
  font-size: 18px;
  margin-bottom: 0;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
