.help-section {
  height: 100%;
  min-height: 500px;
  padding: 100px 0;
}
.help-des {
  width: 80%;
  margin: 0 auto;
}
.help-des h1 {
  font-size: 40px;
  font-weight: 600;
}
.help-des p {
  font-size: 20px;
  font-weight: 400;
  margin: 40px 0;
}
