.services-banner {
  background: url("https://i.ibb.co/HtGKYmF/5d519987c197b30fd25adc3f0022d923.png");
  height: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}
