@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: #00bb6d;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
